@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

.jua-regular {
    font-family: "Jua", sans-serif;
}

* {
    font-family: "Jua", sans-serif;
}

h1 {
    text-align: center;
}

.All {
    width: 550px;
    height: auto;
    margin: 20px auto;
    border: 1px solid black;
    padding: 10px;
}

img {
    width: 200px;
    float: left;
}

h2,
h3 {
    text-align: right;
}

h3 {
    margin-top: -30px;
    margin-bottom: 40px;
}

h4 {
    margin-top: 20px;
    margin-bottom: 5px;
}

.All .line {
    width: 530px;
    padding-top: 10px;
    border-top: 2px dotted black;
    text-align: center;
}


#MygestBookbox {
    margin-top: 50px;
    border-top: 2px solid black;
    height: auto;
}

#gestBook .line {
    margin-right: 10px;
}

#gestBook .line:first-child {
    margin-top: 5px;
    width: 100px;
}

#gestBook .line:nth-child(2) {
    width: 300px;
}

#gestBook button {
    background-color: blue;
    color: white;
}

#gestBook {
    width: 400px;
    height: 50px;
    display: flex;
    margin: 10px auto;
}

#MygestBookbox input {
    line-height: 45px;
    width: 100px;
}

#MygestBookbox .form-control,
#MygestBookbox #name label {
    width: 200px;
    height: 50px;
}

#MygestBookbox .form-control {
    padding-top: 15px;
}

#MygestBookbox #name label {
    margin-left: -100px;
}

#MygestBookbox .form-control textarea {
    width: 200px;
    margin-bottom: 100px;
}

.Bookh4 {
    text-align: center;
}

.cards {
    width: 400px;
    height: 50px;
    display: flex;
    margin: 10px auto;
}

.cards .name,
.cards .name input {
    width: 200px;
    height: 50px;
}

.cards .form-floating label {
    margin-top: 0px
}

.cards .Mygetmemo,
.cards .Mygetmemo textarea {
    width: 200px;
    height: 50px;
    box-sizing: border-box;
}

.cards .form-floating label {

    margin-left: 20px;
    display: flex;
}


#winClose {
    position: sticky;
    padding: 2px;
    background-color: blue;
    color: white;
    cursor: pointer;
    text-decoration: none;
}